{% extends 'shared/base.html' %}
{% block content %}

        </div>
            <div style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
                <h5><b>Post theme: </b> {{ object.title }}</h5>
                <h5><b>Post title:</b> {{ object.theme }}</h5>
                <h5><b>Discuss start on: </b> {{ object.date_joined }}</h5>
                <h5><b>Author: </b> <u>@{{ object.user }}</u></h5>
            </div>

                {% if is_owner or request.user.is_superuser   %}
                    <div style="

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

">
            <a href="{% url 'edit blog' object.id %}" class="btn btn-success" style="width: 150px; color: #00b031;
    background-color: #41464b;
    border-color: #198754;">Edit</a>
                        <br>
            <a href="{% url 'delete blog' object.id %}" class="btn btn-danger" style="width: 150px;
    color: #dc3545;
    background-color: #41464b;
    border-color: #dc3545;">Delete</a>
                    </div>
            {% endif %}
                </br> </br> </br>

             <div><h3><em>{{ object.description }}</em></h3></div>
    </br> </br>
        {% if comments %}
            <h2 style="
    display: flex;
    flex-direction: column;
    align-items: flex-start;
">Post comments: &dArr;</h2></br>
            <div>
            {% for comment in comments %}
                <div class="box">
                    <h5>'{{ comment.user }}' say: <em>{{ comment.text }}</em></h5>
                     {% if is_owner or request.user.is_superuser %}
                    <a href="{% url 'delete comment' comment.id %}" class="btn btn-danger" style="width: 150px;
    color: #dc3545;
    background-color: #41464b;
    border-color: #dc3545;">Delete Comment</a>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <div class="box">
                <h3>There are no comments for this post yet. Your can be the first one. </h3>
            </div>
        {% endif %}
{#    {% if is_owner %}#}
        <div class="box">
            <form method="post" action="{% url 'comment blog' object.id %}">
                {% csrf_token %}
                {{ comment_form }}
                <button class="btn btn-primary mt-2" type="submit">Join to discussion</button>
            </form>
        </div>
        </div>
{#    {% endif %}#}
{#    </div>#}
{#    </div>#}
{% endblock %}
