{% extends 'shared/base.html' %}

{% block content %}
    <div class="article-create-section">
        <div class="article-create-container container" style="display: flex;flex-direction: column;align-items: center;">
            <h1>Create a new Blog</h1>
            <form method="post" action="" style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn-success" type="submit" value="Create BLog" style="    color: #fff;
    background-color: #212529;
    width: 15rem;
    border-color: #dc3545;">
            </form>
        </div>
    </div>
{% endblock %}
