{% extends 'shared/base.html' %}
{% block content %}
    <div style="display: flex;
    flex-direction: column;
    align-items: center;">
        <p style="font-size:300% ">All Users &dArr;</p>
        {% for user in object_list %}
            {% if not user.is_superuser %}
                <div class="card" style="width: 40rem; background-color: rgb(13 110 253 / 25%);">
                    <div class="card-body" style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
                        <h5 class="card-title">Username: {{ user.email }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Full name: {{ user.profile.first_name }} {{ user.profile.last_name }}</h6>
                        <p class="card-text">Date of registered: {{ user.date_joined }}</p>
                            <div>
                                <a href="{% url 'user details' user.id %}" class="card-link">See user profile</a>
                                <a href="{% url 'delete account' user.id %}" class="card-link">Delete user</a>
                            </div>
                    </div>
                </div>
                <br/>
                <br/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}