{% extends 'shared/base.html' %}
{% block content %}
    <div style="display: flex;
    flex-direction: column;
    align-items: center;">
        <p style="font-size:300% ">All Users &dArr;</p>
        {% for user in object_list %}
            {% if not user.is_superuser %}
                <div class="card" style="width: 40rem;">
                    <div class="card-body" style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
                        <h5 class="card-title">Username: {{ user.username }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Email: {{ user.email }}</h6>
                        <p class="card-text">Date of registered: {{ user.date_joined }}</p>
{#                            <a href="{% url 'profile details' %}" class="card-link">User Details</a>#}
                        <a href="{% url 'delete account' user.id %}" class="card-link">Delete user</a>
                    </div>
                </div>
                <br/>
                <br/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}