{% extends 'shared/base.html' %}

{% block content %}

    <section id="dashboard-page" class="dashboard">
        <h1>Blogs</h1>
        <!-- Display paragraph: If the user doesn't have any books  -->
        <p class="no-books">No books in database!</p>
        <!-- Display ul: with list-items for every books if any -->
            <ul class="my-books-list">
        {% for blog in blog_list %}
            <div class="card mb-4">
                <h3>{{ blog.title}}</h3>
                <p>Author: {{ blog.user}}</p>
                <p>Theme: {{ blog.theme }}</p>
                <p>Desc: {{ blog.description }}</p>
                {#                            <p class="card-img-top"><img src="https://images-na.ssl-images-amazon.com/images/I/81Z-yHX8OcL.jpg" alt=""></p>#}
                <a class="button" href="{% url 'details blog' blog.id %}">Details</a>
            </div>
        {% endfor %}
        {#                <li class="myBooks">#}
        {#                    <h3>Outlander</h3>#}
        {#                    <p>Type: Other</p>#}
        {#                    <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/71pjU7wfZFL.jpg" alt=""></p>#}
        {#                    <a class="button" href="#">Details</a>#}
        {#                </li>#}
        {##}
        {#                <li class="myBooks">#}
        {#                    <h3>War and Peace</h3>#}
        {#                    <p>Type: Philosophy</p>#}
        {#                    <p class="img"><img src="https://images-na.ssl-images-amazon.com/images/I/A1aDb5U5myL.jpg" alt=""></p>#}
        {#                    <a class="button" href="#">Details</a>#}
        {#                </li>#}
        </ul>
    </section>
{% endblock %}